a{
    text-decoration: none;
    color: #000;
}

.background{
    margin-top: .2em;
    color: #e3e3e3;;
    filter: drop-shadow(.25em .25em .15em);
}
.flex{
    display: flex;
    margin-bottom: 2rem;
}

.first-half{
    width: 100%;
}

.size{
    width: 100%;
    padding-right: 0.3rem;
}

.small-size{
    max-height: 13.1rem;
    width: 100%;
    margin-bottom: 0.3rem;
    border-radius: 3%;
}

.second-half{
    max-width: 22rem;
}

