<div class="container">
  <h1>Put your car up for rent</h1>

  <form [formGroup]="carForm" (ngSubmit)="postCar()">
    <div class="mb-3">
      <img [src]="imagePreview" style="width: 350px; border-radius: 5%;">
    </div>

    <div class="mb-3 image-upload">
      <div class="upload">
        <header>Drag & drop car image of 1 MB max.</header>
        <span>Or</span>
        <span>Browse car image</span>
      </div>
      <div class="file-upload">
        <input type="file" accept="image/*" formControlName="image" (change)="onSelect($event)" class="file">
        <div class="error-message" *ngIf="carForm.get('image')?.invalid && carForm.get('image')?.dirty">
          <span *ngIf="carForm.get('image')?.errors?.['required']">Car image is required.</span>
        </div>
      </div>
    </div>

    <div class="flex">
      <div class="flex-size">
        <div class="mb-3">
          <input type="text" class="form-control" formControlName="make" placeholder="Make">
          <div class="error-message" *ngIf="carForm.get('make')?.invalid && carForm.get('make')?.dirty">
            <span *ngIf="carForm.get('make')?.errors?.['required']">Car make is required.</span>
          </div>
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" id="model" formControlName="model" placeholder="Model">
          <div class="error-message" *ngIf="carForm.get('model')?.invalid && carForm.get('model')?.dirty">
            <span *ngIf="carForm.get('model')?.errors?.['required']">Car model is required.</span>
          </div>
        </div>
        <div class="mb-3">
          <select class="form-select size" formControlName="year">
            <option value="" disabled selected>Select year</option>
            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
          </select>
          <div class="error-message" *ngIf="carForm.get('year')?.invalid && carForm.get('year')?.dirty">
            <span *ngIf="carForm.get('year')?.errors?.['required']">Car year is required.</span>
          </div>
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" id="color" formControlName="color" placeholder="Color">
          <div class="error-message" *ngIf="carForm.get('color')?.invalid && carForm.get('color')?.dirty">
            <span *ngIf="carForm.get('color')?.errors?.['required']">Car color is required.</span>
          </div>
        </div>
      </div>
      <div class="flex-size">
        <div class="mb-3">
          <input type="text" class="form-control" id="engine" formControlName="engine" placeholder="Engine">
          <div class="error-message" *ngIf="carForm.get('engine')?.invalid && carForm.get('engine')?.dirty">
            <span *ngIf="carForm.get('engine')?.errors?.['required']">Car engine is required.</span>
          </div>
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" id="fuel" formControlName="fuel" placeholder="Fuel">
          <div class="error-message" *ngIf="carForm.get('fuel')?.invalid && carForm.get('fuel')?.dirty">
            <span *ngIf="carForm.get('fuel')?.errors?.['required']">Car fuel is required.</span>
          </div>
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" id="transmission" formControlName="transmission"
            placeholder="Transmission">
          <div class="error-message" *ngIf="carForm.get('transmission')?.invalid && carForm.get('transmission')?.dirty">
            <span *ngIf="carForm.get('transmission')?.errors?.['required']">Car transmission is required.</span>
          </div>
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" formControlName="price" placeholder="Price">
          <div *ngIf="carForm.get('price')?.invalid && carForm.get('price')?.dirty" class="error-message">
            <span *ngIf="carForm.get('price')?.errors?.['required']">Car price is required.</span>
            <span *ngIf="carForm.get('price')?.errors?.['pattern']">Invalid price format.</span>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="carForm.invalid">Post your car</button>
  </form>
</div>
