a{
    text-decoration: none;
    margin-right: 1em;
}

div{
    margin: 0;
}
nav{
    margin: 0;
    padding: 0;
    background-color: #455d7a;
}

.nav{
    padding: .3em;
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: center;
}

.navbar-ul{
    list-style-type: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.navbar-link:hover{
    transition: 0.5s ease-out;
    color: black;
}

.navbar-link{
    color: #e3e3e3;
    
}

.navbar-search{
    width: 52%;
    margin: 0;
}