<div class="background">
  <div class="container flex">
    <div class="first-half">
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" *ngFor="let car of cars">
          <div class="carousel-item" [class.active]="car === cars[previousValue]">
            <a routerLink="/car/{{ car.carId }}">
              <img [src]="car.image" alt="..." class="size">
              <div class="carousel-caption d-none d-md-block">
                <h6>{{ car.year }} {{ car.make }} {{ car.model }}</h6>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="second-half">
      <div id="carouselExampleInterval" class="carousel slide small-slide" data-bs-ride="carousel">
        <div class="carousel-inner firstCar " *ngFor="let car of cars">
          <div class="carousel-item" [class.active]="car === cars[firstValue]">
            <a routerLink="/car/{{ car.carId }}">
              <img [src]="car.image" alt="" class="small-size">
              <div class="carousel-caption d-none d-md-block">
                <p>Next</p>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div id="carouselExampleInterval" class="carousel slide small-slide" data-bs-ride="carousel">
        <div class="carousel-inner secondCar" *ngFor="let car of cars">
          <div class="carousel-item" [class.active]="car === cars[secondValue]">
            <a routerLink="/car/{{ car.carId }}">
              <img [src]="car.image" alt="" class="small-size">
            </a>
          </div>
        </div>
      </div>

      <div id="carouselExampleInterval" class="carousel slide small-slide" data-bs-ride="carousel">
        <div class="carousel-inner thirdCar" *ngFor="let car of cars">
          <div class="carousel-item" [class.active]="car === cars[thirdValue]">
            <a routerLink="/car/{{ car.carId }}">
              <img [src]="car.image" alt="" class="small-size">
            </a>
          </div>
        </div>
      </div>

    </div>

  </div>




  <div class="container">
    <div class="row row-cols-2 row-cols-md-4 g-auto">
      <div class="col mb-3" *ngFor="let car of cars | slice:0:4">
        <div class="card">
          <a routerLink="/car/{{ car.carId }}"><img [src]="car.image" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <div class="text-wrap" style="max-height: 3em; min-height: 3em; overflow:scroll;">
              <a routerLink="/car/{{ car.carId }}">
                <h5 class="card-title text">{{ car.year }} {{ car.make }} {{ car.model }}</h5>
              </a>
            </div>
            <p class="card-text mt-2"> <span class="fw-semibold">Price: </span>
              {{ car.price | currency: 'USD' }}</p>
            <p class="card-text"><small class="text-muted">Last updated: {{ car.lastUpdated }} </small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
