/* You can add global styles to this file, and also import other style files */
*, ::before, ::after{
    box-sizing: border-box;
    margin: 0 auto;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}

body{
    background-color: #f5f8fc !important;
}

