.action{
    text-align: end;
    max-width: 87.5%;
}

.alert{
    left: 3.5%;
    max-width: 60rem;
}
.bi{
    max-height: 30px;
    max-width: 30px;
    margin-left: 35%;
}
.btn{
    min-width: 6rem;
    margin-left: 1em;
}

.details{
    max-width: 100%;
    line-height: 50px;
}

.img{
    width: 100%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.details-style{
    display: flex;
    max-height: 45rem;
    max-width: 70rem;
    padding: 0;
    justify-content: center;
    align-content: center;
    padding: 3rem 0 3rem 0;
    gap: 2em;
}