<div class="style">
    <div class="car-div">
        <div *ngIf="car">
            <img [src]="car.image" alt="" class="img">
        </div>
    </div>
    <div class="details">
        <ul *ngIf="car">
            <li>Make: {{car.make}}</li>
            <li>Model: {{car.model}}</li>
            <li>Year: {{car.year}}</li>
            <li>Color: {{car.color}}</li>
            <li>Engine: {{car.engine}}</li>
            <li>Fuel: {{car.fuel}}</li>
            <li>Transmission: {{car.transmission}}</li>
            <li>Rent price: {{car.price | currency: 'USD'}}</li>
            <li>Last updated: {{car.lastUpdated | date: 'medium'}}</li>
        </ul>
    </div>
</div>
<div>
    <div class="container btn-style" *ngIf="car">
        <button type="submit" class="btn btn-outline-warning btn-md" routerLinkActive="active" routerLink="/update/{{car.carId}}">Update</button>
    
        <button type="submit" class="btn btn-outline-danger btn-md" (click)="deleteCar()">Delete</button>
    </div>
</div>