a{
    text-decoration: none;
    color: #000;
}

.container{
    min-height: 82vh !important;
    margin-top: 3.6rem;
    min-height: 99%;
}

.card{
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

hr{
    color: #455d7a;
}

.card-img-top{
    max-height: 9.196rem;
}

.page, .size{
    display:inline-flex;
    margin: 0 1.5rem 0 0;
    gap: 0.5em;
}

.footer-container{
    display: flex;
    justify-content: flex-end;
}

.row{
    margin: 0 !important;
}

select{
    min-width: 3em;
}



/*************Nav-style**********/
.navbar-fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
  }

.navbar-link, .navbar-logo{
    margin-right: 1em;
}

div+.nav{
    margin: 0;
}
nav{
    margin: 0;
    padding: 0;
    background-color: #455d7a !important;
}

.nav{
    padding: .3em;
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: center;
}

.navbar-ul{
    list-style-type: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.navbar-link:hover{
    transition: 0.5s ease-out;
    color: black;
}

.navbar-link{
    color: #e3e3e3;
    
}

.navbar-search{
    width: 52%;
    margin: 0;
}